<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tech News Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/saved">Saved Articles</a></li>
      <li><button id="scrapeBtn" class="btn btn-info">Scrape New Articles</button></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="page-header text-center">
    <h1 style="color:white">Your Saved Articles </h1>
  </div>
</div>

<!-- Notes Modal -->
<div id="notesModal" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header text-center">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h2 id="notes-header"></h2>
    </div>
    <div class="modal-body">
      <div class="well" id="thenotes"></div>
      <textarea class="form-control" rows="2" id="newnote"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" id="savenote" class="btn btn-primary">SAVE NOTE</button>
    </div>
  </div>
</div>
</div>
  
<div class="container results">

  {{#each articles}}
	  <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        {{title}}
        <button data-id="{{_id}}" class="unsave btn btn-danger pull-right">REMOVE FROM SAVED</button>
        <button data-id="{{_id}}" class="getnotes btn btn-warning pull-right">ARTICLE NOTES</button>
      </div>
      <div class="panel-body">
        {{body}} 
        <a target="_blank" href="{{link}}"> Read more ... </a>
      </div>
    </div>
  {{else}}
	  <div class="panel panel-danger">
	    <div class="panel-heading text-center"><h2>Uh Oh. Looks like we don't have any saved articles.<h2></div>
	  </div>
  {{/each}}

</div>

<script src="/assets/js/app.js"></script>
