<div class="panel panel-primary">
    <div class="panel-heading clearfix">
       {{title}}
       {{#if showsaved}}
           <button data-id="{{_id}}" class="getnotes btn btn-warning pull-right">ARTICLE NOTES</button>
	       <button data-id="{{_id}}" class="unsave btn btn-danger pull-right">REMOVE FROM SAVED</button>
       {{else}}
           <button class="save btn btn-success pull-right">SAVE ARTICLE</button>
       {{/if}}
    </div>
    <div class="panel-body">
       {{body}} 
       <a href="{{link}}"> Read more ... </a>
    </div>
</div>
